@using Kudu.Core.SourceControl
@using Kudu.Web.Models

@model ApplicationViewModel
@{
    ViewBag.Title = "Deployments";
}

<form class="well form-inline">
  <label class="control-label"><strong>GIT URL</strong></label>
  <input type="input" id="clone-url" name="name" value="@Model.GitUrl" readonly="readonly" />
</form>

@if (Model.Deployments.Count == 0)
{
    <p class="alert alert-info">You haven't pushed anything to this repository yet.</p>
    return;
}


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Message
            </th>
            <th>
                Author
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Status
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model.Deployments)
        {
            <tr>
            <td>@d.Id.Substring(0, 10)</td>
            <td>@d.Message</td>
            <td>@d.Author</td>
            <td>@d.DeployStartTime</td>
            <td>@d.DeployEndTime</td>
            <td>
                @if (d.Complete)
                {
                    if (d.Status == Kudu.Core.Deployment.DeployStatus.Failed) 
                    {
                         <span class="label label-important">Failed</span>
                    }
                    else
                    {
                        <span class="label label-success">Success</span>
                    }
                }
                else
                {
                    <span class="label">@d.Status</span>
                }
            </td>
            <td>
                @if (d.Current)
                {
                    <div class="icon-ok"></div>
                }
                else if (d.Complete)
                {
                    <a class="btn btn-primary" href="@Url.Action("deploy", new { slug = ViewBag.slug, id = d.Id })"><i class="icon-repeat icon-white"></i> Deploy</a>
                }
            </td>
            </tr>
        }
    </tbody>
</table>
