@using Kudu.Core.SourceControl
@using Kudu.Web.Models
@using Kudu.Web.Infrastructure

@model ApplicationViewModel

@{
    ViewBag.Title = Model.Name;
}
<link rel="Stylesheet" href="/content/stylesheets/forms.css" media="screen" />
<link rel="Stylesheet" href="/content/stylesheets/plugins/buttons/screen.css" media="screen" />
<section id="model-options">

    <div class="column span-3 groovy-title colborder">
        @Model.Name
    </div>
    <div class="column span-13 tpad-12">
        <a href="@Url.Action("scm", new { slug = Model.Name.GenerateSlug() })">
            <img src="/content/glyphs/file---check.png" height=24 alt="Repository" title="Repository"/>
        </a> &nbsp; 
        <a href="@Url.Action("editor", new { slug = Model.Name.GenerateSlug() })">
            <img src="/content/glyphs/file---edit.png" height=24 alt="Editor" title="Editor"/>
        </a> &nbsp;  
        <a href="@Url.Action("index", "settings", new { slug = Model.Name.GenerateSlug() },null)">
            <img src="/content/glyphs/setting.png" height=24 alt="Settings" title="Settings"/>
        </a>
    </div>
    @if (Model.RepositoryType == RepositoryType.None) {
        <p class="notice">@Model.Name does not have a source control repository configured. You can push to one of the URLs below to create the repository.</p>
    }
</section>
<fieldset>
@if (Model.RepositoryType == RepositoryType.None) {
    <label>Git URL</label>
    <p>
        @Model.GitUrl
    </p>
    <label>Mercurial URL</label>
    <p>
        @Model.HgUrl
    </p>
} else {
    <label>@Model.RepositoryType URL</label>
    <p>
        @Model.CloneUrl
    </p>
}
<label>Application URL</label>
<p>
    <a href="@Model.SiteUrl" target="_blank">@Model.SiteUrl</a>
</p>

@using (Html.BeginForm("Delete", "Application", new { slug = Model.Name.GenerateSlug() })) { 
   <button type="submit" class="button negative">
    <img src="/content/stylesheets/plugins/buttons/icons/cross.png" alt=""/> Delete
  </button>
}
</fieldset>