@using Kudu.Core.SourceControl
@using Kudu.Web.Models
@using Kudu.Web.Infrastructure

@model ApplicationViewModel

@{
    ViewBag.Title = Model.Name;
}
<div class="page-header">
  <h1>@Model.Name</h1>
</div>

<div class="well">
    <div class="control-group">
        <label class="control-label"><strong>Application URL</strong></label>
        <div class="controls">
        <a href="@Model.SiteUrl" target="_blank">@Model.SiteUrl</a>
        <p class="help-block">This is the link to your website.</p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><strong>Service URL</strong></label>
        <div class="controls">
        <a href="@Model.ServiceUrl" target="_blank">@Model.ServiceUrl</a>
        <p class="help-block">This is the link to the kudu service.</p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><strong>Git URL</strong></label>
        <div class="controls">
        @Model.GitUrl
        <p class="help-block">Git remote url.</p>
        </div>
    </div>    
</div>

@if (Model.RepositoryType == RepositoryType.None)
    {
<pre>
git remote add kudu @Model.GitUrl
git push -u kudu master      
</pre>
    }


@using (Html.BeginForm("Delete", "Application", new { slug = Model.Name.GenerateSlug() }))
{ 
    <input type="submit" class="btn-danger btn-large" name="name" value="Delete Application" />
}