@using Kudu.Core.SourceControl
@using Kudu.Web.Models
@using Kudu.Web.Infrastructure

@model ApplicationViewModel

@{
    ViewBag.Title = Model.Name;
}
<h2>@Model.Name</h2>

<ul id="app-links" class="tab-menu">
    @if (Model.RepositoryType != RepositoryType.None) {
    <li>
        @Html.ActionLink("Deployments", "deployments", new { slug = Model.Name.GenerateSlug() })
    </li>
    }
    <li>
        @Html.ActionLink("Develop", "editor", new { slug = Model.Name.GenerateSlug() })
    </li>
    <li>
        @Html.ActionLink("Settings", "index", "settings", new { slug = Model.Name.GenerateSlug() }, null)
    </li>
</ul>

@if (Model.RepositoryType == RepositoryType.None) {
    <p class="notice">@Model.Name does not have a source control repository configured. You can push to one of the URLs below to create the repository.</p>
}

@if (Model.RepositoryType == RepositoryType.None) {
    <div class="display-label">Git URL</div>
    <div class="display-field">
        @Model.GitUrl
    </div>
    <div class="display-label">Mercurial URL</div>
    <div class="display-field">
        @Model.HgUrl
    </div>
}
else {
    <div class="display-label">@Model.RepositoryType URL</div>
    <div class="display-field">
        @Model.CloneUrl
    </div>
}
<div class="display-label">Application URL</div>
<div class="display-field">
    <a href="@Model.SiteUrl" target="_blank">@Model.SiteUrl</a>
</div>

<h2 id="delete-header">Delete Application</h2>
@using (Html.BeginForm("Delete", "Application", new { slug = Model.Name.GenerateSlug() })) { 
    <input type="submit" name="name" value="Delete" />
}