@using Kudu.Core.SourceControl
@using Kudu.Web.Models

@model ApplicationViewModel
           
@{
    ViewBag.Title = "Editor";
}
<div id="skyde">
    <div id="notification" class="notification icon icon-loading">
    </div>
    <ul id="toolbar">
        <li>
            <a href="#" class="icon icon-save" id="save">Save</a>
        </li>
        <li>
            <a href="#" class="icon icon-build dev-mode" id="build">Build</a>
        </li>        
        <li>            
            <a href="@Model.DeveloperSiteUrl" target="_blank" class="icon icon-run dev-mode" id="run">Run</a>
        </li>
        <li>
            <a href="#" class="icon icon-live dev-mode" id="deploy">Go Live</a>
        </li>
    </ul>

    <select id="active-view"@if(Model.RepositoryType == RepositoryType.None) {<text> class="hide"</text>}>
        <option value="dev">Developer</option>
        <option value="live"@if(Model.RepositoryType == RepositoryType.None) {<text> selected="selected"</text>}>Live</option>
    </select>

    <ul id="tabs">
    </ul>
    <div id="code-surface">
        <div id="text-editor">
            <textarea id="editor"></textarea>
        </div>
        <div id="file-browser">
        </div>
    </div>    

    <div id="console-ghost"></div>
    <div id="console" class="collapsed">
        <div class="header">
            <div id="status" class="icon icon-save"></div>
            <a href="#" id="show-console" class="icon-notext icon-expand">&nbsp;</a>
        </div>
        <div class="output">
            <div class="messages">
                <ul class="buffer">
                </ul>
            </div>
            <form action="#" method="post" id="new-command">
                <span class="prompt">$</span> 
                <input type="text" id="console-command" value="" autocomplete="off" />
                <div class="clear"></div>
            </form>
        </div>
    </div>
</div>

<!-- CODE MIRROR INCLUDES -->
<link rel="stylesheet" href="@Url.Content("~/Styles/codemirror.css")">
<link rel="stylesheet" href="@Url.Content("~/Styles/default-settings.css")">
<script src="@Url.Content("~/Scripts/codemirror/codemirror.js")"></script>
<!-- CODE MIRROR INCLUDES -->
<!-- LANGUAGES -->
<link href="@Url.Content("~/Scripts/codemirror/mode/clike/clike.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/codemirror/mode/clike/clike.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/codemirror/mode/htmlmixed/htmlmixed.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/codemirror/mode/css/css.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/codemirror/mode/css/css.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/codemirror/mode/javascript/javascript.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/codemirror/mode/javascript/javascript.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/codemirror/mode/xml/xml.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/codemirror/mode/xml/xml.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/codemirror/mode/razor/razor.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/codemirror/mode/razor/razor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/codemirror/mode/php/php.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/codemirror/mode/markdown/markdown.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/codemirror/mode/markdown/markdown.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/codemirror/mode/yaml/yaml.js")" type="text/javascript"></script>
<!-- LANGUAGES -->
<link href="@Url.Content("~/Styles/skyde.css")" rel="stylesheet" type="text/css" />

<script id="folderTemplate" type="text/x-jquery-tmpl"> 
    <ul class="folder" data-path="${$data.getPath()}">
        <li>
            <a href="#" class="icon icon-project">@Model.Name</a>
            <ul class="menu">
                <li><a href="#" class="menu-launcher icon-notext icon-menu">&nbsp;</a>
                <ul class="menu-contents">
                {{if !$data.isReadOnly()}}
                    <li><a href="#" class="new-file icon icon-new-file">New File</a></li>
                    <li><a href="#" class="new-folder icon icon-new-folder">New Folder</a></li>
                {{/if}}
                </ul>
                </li>
            </ul>
            <div class="clear" />
            <div class="folder-contents">
                {{tmpl(getDirectories()) "#lazyFolderTemplate"}}
                <ul class="files">
                    {{tmpl(getFiles()) "#fileTemplate"}}
                </ul>
            </div>
        </li>            
    </ul>
</script>

<script id="lazyFolderTemplate" type="text/x-jquery-tmpl"> 
    <ul class="folder folder-collapsed" data-path="${$data.getPath()}">
        <li>
            <a href="#" class="icon icon-folder folder-collapsed">${$data.getName()}</a>
            <ul class="menu">
                <li><a href="#" class="menu-launcher icon-notext icon-menu">&nbsp;</a>
                <ul class="menu-contents">
                {{if !$data.isReadOnly()}}
                    <li><a href="#" class="new-file icon icon-new-file">New File</a></li>
                    <li><a href="#" class="new-folder icon icon-new-folder">New Folder</a></li>
                {{/if}}
                </ul>
                </li>
            </ul>
            <div class="clear" />
            <div class="folder-contents" style="display:none">
                <div class="lazy-folders">
                    
                </div>
                <ul class="files lazy-files">
                    
                </ul>
            </div>
        </li>            
    </ul>
</script>

<script id="fileTemplate" type="text/x-jquery-tmpl"> 
    <li class="file" data-path="${$data.getPath()}">
        <a href="#" class="open" id="${$data.getElementId()}">${$data.getName()}</a>
        {{if !$data.isReadOnly()}}
        <a href="#" class="delete icon-notext icon-close">&nbsp;</a>
        {{/if}}
    </li>
</script>

<script id="tabTemplate" type="text/x-jquery-tmpl"> 
    <li class="file${active ? " active" : ""}" data-path="${file.getPath()}">
        <a href="#" class="tab open icon icon-${css}">${file.getName()}</a>
        {{if file.isDirty()}}<span class="dirty">*</span>{{/if}}
        <a href="#" class="delete icon-notext icon-close">&nbsp;</a>
    </li>
</script>

<script id="changeset-detail" type="text/x-jquery-tmpl">
    <div class="commit-detail gray-gradient">
        <p class="details">${ChangeSet.Id}</p>
        <p>{{html ChangeSet.Message}}<p>
        <div class="author">            
            {{if ChangeSet.EmailHash}}
            <div class="author-pic">
                <img src="http://www.gravatar.com/avatar/${ChangeSet.EmailHash}?s=32&d=mm" class="gravatar" />
            </div>
            {{/if}}
            <div class="author-info">
                ${ChangeSet.AuthorName} <span class="details">(author)</span>
                <div class="timeago" title="${ChangeSet.Date}"></div>
            </div>
        </div>
    </div>
    {{tmpl "#diff-view"}}
</script>

<script id="diff-view" type="text/x-jquery-tmpl">
    <div class="commit-summary">
        Showing ${FilesChanged} changed files with ${Insertions} additions and ${Deletions} deletions.
    </div>
    <ul class="commit-file-summary">
        {{each(fileName, file) Files}}
            <li class="file icon ${getFileClass(file)}" data-path="${fileName}">
                <a href="#">${fileName}</a> {{if file.Binary}}<span class="details">(binary)</span>{{/if}}
                <a href="#/working" class="icon-notext icon-close revert">&nbsp;</a>
            </li>
        {{/each}}
    </ul>
    {{each(fileName, file) Files}}
        <div id="${getDiffId(fileName)}" class="diff">
            <div class="diff-header gray-gradient">
                <span class="icon ${file.Binary ? "icon-binary-file" : "icon-file"}">${fileName}</span>
            </div>
            {{tmpl(file) "#file-view"}}
        </div>
    {{/each}}
</script>

<script id="file-view" type="text/x-jquery-tmpl">
    {{if Binary}}
    <div class="binary-text">Binary file not shown</div>
    {{else}}
    <div class="diff-source">
        <table width="100%" cellpadding="0" cellspacing="0">
            {{each(i, line) DiffLines}}
                <tr>
                    <td class="line-number details">${line.LeftLine ? line.LeftLine : "&nbsp;"}</td>
                    <td class="line-number details">${line.RightLine ? line.RightLine : "&nbsp;"}</td>
                    <td class="line${getDiffClass(line.Type)}">
                        <pre>${line.Text}</pre>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
    {{/if}}
</script>

<script src="@Url.Content("~/Scripts/jquery-1.6.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.hotkeys-patched.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/SignalR/hubs")" type="text/javascript"></script>
<script type="text/javascript">
    (function ($) {
        $(function () {
            $.connection.documents.applicationName = '@Model.Name';
            @if (ViewData.ContainsKey("Clone")) {
            <text>$.connection.documents.cloneUrl = '@Url.Action("create-dev-site", new { slug = Model.Name })';</text>
            }
            $.connection.documents.setDefaultProjectUrl = '@Url.Action("set-webroot", new { slug = Model.Name })';
        });

    })(jQuery);
</script>
<script src="@Url.Content("~/Scripts/jquery.render.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/io/fileSystem.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/loader.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/skyde.js")" type="text/javascript"></script>            