@model IEnumerable<Kudu.Web.Models.ApplicationViewModel>

@{
    ViewBag.Title = "Applications";
}

<h2>Applications</h2>

<p>
    @Html.ActionLink("Create Application", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Repository Type
        </th>
        <th>
            Site Url
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepositoryType)
        </td>
        <td>
            <a href="@item.SiteUrl" target="_blank">@item.SiteUrl</a>
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { slug = item.Slug }) |
            @Html.ActionLink("Source Control", "Scm", new { slug = item.Slug }) |
            @Html.ActionLink("Edit Files", "Editor", new { slug = item.Slug }) |
            @Html.ActionLink("Delete", "Delete", new { slug = item.Slug })
        </td>
    </tr>
}

</table>
