@using Kudu.Core.SourceControl
@using Kudu.Web.Models

@model ApplicationViewModel
           
@{
    Layout = null;
    ViewBag.Title = "Editor";

    // Set the mode based on if we have the dev site at all
    var mode = Model.DeveloperSiteUrl == null ? 0 : 1;
    
    // Determine if we can create the site
    bool createDevelopmentSite = ViewData.ContainsKey("Clone");

    // Get the url
    string createDevelopmentSiteUrl = Url.Action("create-dev-site", new { slug = Model.Name });
    string webRootUrl = Url.Action("set-webroot", new { slug = Model.Name });
    
    // Create the javascript expression
    string siteManagerInit = String.Format("$.siteManager({{ createDevelopmentSiteUrl: '{0}', setWebRootUrl: '{1}' }})", createDevelopmentSiteUrl, webRootUrl);
    
    // Code mirror modes
    var modeDirectory = new DirectoryInfo(Server.MapPath("~/Components/Editor/codemirror/mode"));
    var jsFiles = modeDirectory.GetFiles("*.js", SearchOption.AllDirectories);
    var cssFiles = modeDirectory.GetFiles("*.css", SearchOption.AllDirectories);

    var fileExplorerTemplate = Server.MapPath("~/Components/FileExplorer/templates.htm");
    var tabManagerTemplate = Server.MapPath("~/Components/TabManager/templates.htm");
}
<!DOCTYPE html>
<html>
<head>
<title></title>

<script src="@Url.Content("~/Scripts/jquery-1.6.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.render.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.hotkeys-patched.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Components/Editor/codemirror/default-settings.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Components/Editor/codemirror/codemirror.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Components/Editor/codemirror/codemirror.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Components/Shared/base.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Components/Shared/icons.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Components/Shared/icons.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Components/Shared/utils.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Components/SiteManager/siteManager.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Components/FileSystem/fileSystem.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Components/TabManager/tabManager.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Components/TabManager/tabManager.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Components/Loader/loader.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Components/FileExplorer/fileExplorer.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Components/FileExplorer/fileExplorer.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Components/Editor/editor.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Components/Console/console.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Components/Console/console.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Components/Dialogs/dialogs.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Components/ide/ide.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Components/ide/ide.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/signalR/hubs")" type="text/javascript"></script> 

<!-- Templates -->
@Html.Raw(File.ReadAllText(fileExplorerTemplate))
@Html.Raw(File.ReadAllText(tabManagerTemplate))

@foreach (var file in cssFiles) {
    string url = String.Format("~/Components/Editor/codemirror/mode/{0}/{1}", file.Directory.Name, file.Name);
<link rel="stylesheet" href="@Url.Content(url)" type="text/css" />
}
@foreach (var file in jsFiles) {
    string url = String.Format("~/Components/Editor/codemirror/mode/{0}/{1}", file.Directory.Name, file.Name);
<script src="@Url.Content(url)" type="text/javascript"></script>
}

<script type="text/javascript">
    $(function () {
        $.ide({
            applicationName: '@Model.Name',
            tabManager: $('#tabs'),
            editor: $('#editor'),
            fileExplorer: $('#files'),
            activeView : $('#active-view'),
            launcher : $('#run'),
            projectList : $('#projects'),
            mode: @mode,
            createDevelopmentSite : @createDevelopmentSite.ToString().ToLower(),
            siteManager: @Html.Raw(siteManagerInit)
        });
    });
    </script>
</head>
<body>
    <ul id="actions">
        <li>
            <a href="#" class="icon icon-file-added" data-action="new-file">New File</a> 
        </li>
        <li>
            <a href="#" class="icon icon-save" data-action="save-all">Save All</a>
        </li>
        <li>
            <a href="#" class="icon icon-refresh" data-action="refresh-project">Refresh</a>
        </li>
        <li>
            <a href="#" class="icon icon-build dev-mode" data-action="build">Build</a>
        </li>
        <li>            
            <a href="@Model.DeveloperSiteUrl" target="_blank" class="icon icon-run dev-mode" id="run">Run</a>
        </li>
        <li>
            <a href="#" class="icon icon-live dev-mode" data-action="go-live">Go Live</a>
        </li>
        <li class="project-selection dev-mode">
            Projects: <select id="projects"></select>   
        </li>
    </ul>

    <select id="active-view"@if (Model.RepositoryType == RepositoryType.None) {<text> class="hide"</text>}>
        <option value="1">Developer</option>
        <option value="0"@if (Model.RepositoryType == RepositoryType.None) {<text> selected="selected"</text>}>Live</option>
    </select>

    <ul id="tabs">
    </ul>
    <div id="ide">
        <div id="edit-area">
            <textarea id="editor"></textarea>
        </div>
        <div id="files">
        </div>
    </div>
</body>
</html>