@using Kudu.Web.Models

@model ApplicationViewModel
           
@{
    Layout = null;
    ViewBag.Title = "Editor";
}
<!DOCTYPE html>
<html>
<head>
<title></title>
<script src="@Url.Content("~/Scripts/jquery-1.6.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.render.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.hotkeys-patched.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Components/Editor/codemirror/default-settings.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Components/Editor/codemirror/codemirror.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Components/Editor/codemirror/codemirror.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Components/Shared/icons.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Components/Shared/icons.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Components/Shared/utils.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Components/FileSystem/fileSystem.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Components/TabManager/tabManager.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Components/TabManager/tabManager.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Components/Loader/loader.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Components/FileExplorer/fileExplorer.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Components/FileExplorer/fileExplorer.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Components/Editor/editor.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Components/Console/console.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Components/Console/console.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Components/Dialogs/dialogs.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Components/ide/ide.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Components/ide/ide.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/signalR/hubs")" type="text/javascript"></script> 

<!-- Templates -->
@Html.Raw(File.ReadAllText(Server.MapPath("~/Components/FileExplorer/templates.htm")))
@Html.Raw(File.ReadAllText(Server.MapPath("~/Components/TabManager/templates.htm")))

<!-- Code Mirror modes -->
@{ 
    var modeDirectory = new DirectoryInfo(Server.MapPath("~/Components/Editor/codemirror/mode"));
    var jsFiles = modeDirectory.GetFiles("*.js", SearchOption.AllDirectories);
    var cssFiles = modeDirectory.GetFiles("*.css", SearchOption.AllDirectories);
}

@foreach (var file in cssFiles) { 
    string url = String.Format("~/Components/Editor/codemirror/mode/{0}/{1}", file.Directory.Name, file.Name);
<link rel="stylesheet" href="@Url.Content(url)" type="text/css" />
}
@foreach (var file in jsFiles) {
    string url = String.Format("~/Components/Editor/codemirror/mode/{0}/{1}", file.Directory.Name, file.Name);
<script src="@Url.Content(url)" type="text/javascript"></script>
}

<script type="text/javascript">
    $(function () {
        $.ide({
            applicationName: '@Model.Name',
            tabManager: $('#tabs'),
            editor: $('#editor'),
            fileExplorer: $('#files')
        });
    });
    </script>
</head>
<body>
    <ul id="actions">
        <li>
            <a href="#" class="icon icon-file-added" data-action="new-file">New File</a> 
        </li>
    </ul>
    <ul id="tabs">
    </ul>
    <div id="ide">
        <div id="edit-area">
            <textarea id="editor"></textarea>
        </div>
        <div id="files">
        </div>
    </div>
</body>
</html>