@using Kudu.Core.SourceControl
@using Kudu.Web.Models

@model ApplicationViewModel
           
@{
    ViewBag.Title = "Source Control";
}

<div id="scm">    
    <h3>Application URL</h3>
    <p>
        <a href="@Model.SiteUrl" target="_blank">@Model.SiteUrl</a>
    </p>

    <h3>Repository URL</h3>
    <div id="clone-url">
        <input type="text" name="url" id="url" value="@(Model.CloneUrl ?? "None")" readonly="readonly" @(Model.CloneUrl == null ? "disabled=\"disabled\"" : "") />
    </div>

    <div id="page">
        <div id="new-commit">
        </div>
        <div id="error">
        </div>
        <div id="menu" class="gray-gradient">
            <div id="links">
                <a href="#/">Commits</a>
                <a href="#/working" class="icon icon-working-dir" id="show-working">Working directory</a>
                <input type="checkbox" id="filter-changes" checked="checked" />
                <span>Show deployments only</span>
            </div>
        </div>
        <div id="status-container">
            <div id="status">
            </div>
        </div> 
        <table id="log">
            <thead>
                <tr>
                    <th>Change Set</th>
                    <th>Comment</th>
                    <th>User</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="changes">
            </tbody>
        </table>
        <div id="infinite-status">
        </div>
        
        <div id="show">
        </div>

        <div id="working">
            <div id="commit-area">
                <form action="#/commit" method="post">
                    <label for="message">Enter commit message:</label>
                    <textarea id="commit-message" name="message"></textarea>
                    <input type="submit" id="commit" name="commit" value="Commit changes" />
                </form>
            </div>
            <div id="diff">
            </div>
        </div>

        <ul id="deploy-log"> 
        </ul>

        <div id="footer" />
    </div>
</div>

<link href="@Url.Content("~/Styles/SourceControl.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.6.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/loader.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.render.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/sammy.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.timeago.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/SourceControl.js")" type="text/javascript"></script>
<script type="text/javascript">
    (function ($) {
        $(function () {
            $.connection.sourceControl.appName = '@Model.Name';
        });
    })(jQuery);
</script>
<script id="logTemplate" type="text/x-jquery-tmpl"> 
    <li class="${getLogClass(Type)}">
        <strong>${LogTime}</strong> 
        <pre class="message">${Message}</pre>
    </li>
</script>

<script id="changeset" type="text/x-jquery-tmpl"> 
    <tr class="changeset${deploymentInfo ? "" : " not-deployed"}" id="${Id}">
        <td>${ShortId}</td>
        <td>
            {{each(i, branch) branches}}
            <span class="branch" data-id="${Id}" data-branch="${branch}">${branch}</span>
            {{/each}}
            <div class="description">
                {{html Summary}}
            </div>
        </td>
        <td>${AuthorName}</td>
        <td class="timeago" title="${Date}"></td>
        <td>            
            {{if deploymentInfo }}
                <div class="deploy-status">${deploymentInfo.Status}</div>
                <div class="status-text">${deploymentInfo.StatusText}</div>
            {{else}}
                -
            {{/if}}
        </td>
        <td class="actions">            
            <a href="#/commit/${Id}" class="view">view diff</a>            
            {{if deploymentInfo }}
            <a href="#/view-log/${Id}" class="view-log">view log</a>
            {{/if}}
            <a href="#" class="update deploy${showDeploy ? "" : " hide"}" data-id="${Id}">deploy</a>
        </td>
        <td>
            <span class="loading icon-notext icon-loading${showLoading ? "" : " hide"}">&nbsp;</span>
            <span class="status icon-notext icon-tick${Active ? "" : " hide"}">&nbsp;</span>
            <span class="failed icon-notext icon-error${failed ? "" : " hide"}">&nbsp;</span>
        </td>
    </tr>
</script>
<script id="changeset-detail" type="text/x-jquery-tmpl">
    <div class="commit-detail gray-gradient">
        <p class="details">${ChangeSet.Id}</p>
        <p>{{html ChangeSet.Message}}<p>
        <div class="author">            
            {{if ChangeSet.EmailHash}}
            <div class="author-pic">
                <img src="http://www.gravatar.com/avatar/${ChangeSet.EmailHash}?s=32&d=mm" class="gravatar" />
            </div>
            {{/if}}
            <div class="author-info">
                ${ChangeSet.AuthorName} <span class="details">(author)</span>
                <div class="timeago" title="${ChangeSet.Date}"></div>
            </div>
        </div>
    </div>
    {{tmpl "#diff-view"}}
</script>
<script id="diff-view" type="text/x-jquery-tmpl">
    <div class="commit-summary">
        Showing ${FilesChanged} changed files with ${Insertions} additions and ${Deletions} deletions.
    </div>
    <ul class="commit-file-summary">
        {{each(fileName, file) Files}}
            <li class="file icon ${getFileClass(file)}" data-path="${fileName}">
                <a href="#">${fileName}</a> {{if file.Binary}}<span class="details">(binary)</span>{{/if}}
                <a href="#/working" class="icon-notext icon-close revert">&nbsp;</a>
            </li>
        {{/each}}
    </ul>
    {{each(fileName, file) Files}}
        <div id="${getDiffId(fileName)}" class="diff">
            <div class="diff-header gray-gradient">
                <span class="icon ${file.Binary ? "icon-binary-file" : "icon-file"}">${fileName}</span>
            </div>
            {{tmpl(file) "#file-view"}}
        </div>
    {{/each}}
</script>
<script id="file-view" type="text/x-jquery-tmpl">
    {{if Binary}}
    <div class="binary-text">Binary file not shown</div>
    {{else}}
    <div class="diff-source">
        <table width="100%" cellpadding="0" cellspacing="0">
            {{each(i, line) DiffLines}}
                <tr>
                    <td class="line-number details">${line.LeftLine ? line.LeftLine : "&nbsp;"}</td>
                    <td class="line-number details">${line.RightLine ? line.RightLine : "&nbsp;"}</td>
                    <td class="line${getDiffClass(line.Type)}">
                        <pre>${line.Text}</pre>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
    {{/if}}
</script>