@model Kudu.Web.Models.SettingsViewModel

@{
    ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Styles/Settings.css")" rel="stylesheet" type="text/css" />

<h3>Application Settings</h3>

@if (Model.AppSettings.Any()) {
<table id="app-settings">
    <tr>
        <th>Key</th>
        <th>Value</th>
        <th></th>
    </tr>
    @foreach (var setting in Model.AppSettings) {
        <tr>
            <td>@setting.Key</td>
            <td>@setting.Value</td>
            <td class="actions">
                @using (Html.BeginForm("delete-app-setting", "settings", new { ViewBag.slug })) {
                    @Html.Hidden("Key", setting.Key)
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
    
</table>
}
else { 
    <p>
        No app settings configured
    </p>
}

<h3>Connection Strings</h3>

@if (Model.ConnectionStrings.Any()) {
<table id="connection-strings">
    <tr>
        <th>Name</th>
        <th>Connection String</th>
        <th></th>
    </tr>
    @foreach (var setting in Model.ConnectionStrings) {
        <tr>
            <td>@setting.Name</td>
            <td>@setting.ConnectionString</td>
            <td class="actions">
                @using (Html.BeginForm("delete-connection-string", "settings", new { ViewBag.slug })) {
                    @Html.Hidden("Name", setting.Name)
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
    
</table>
}
else { 
    <p>
        No connection strings configured
    </p>
}

<h3>New Application Setting</h3>
@using (Html.BeginForm("new-app-setting", "settings", new { ViewBag.slug })) {
    <fieldset>        
        <div class="editor-label">
            @Html.Label("Key")
        </div>
        <div class="editor-field">
            @Html.TextBox("Key")
            @Html.ValidationMessage("Key", "*")
        </div>

        <div class="editor-label">
            @Html.Label("Value")
        </div>
        <div class="editor-field">
            @Html.TextBox("Value")
            @Html.ValidationMessage("Value", "*")
        </div>
        <p>
            <input type="submit" value="Add" />
        </p>
    </fieldset>
}

<h3>New Connection String</h3>
@using (Html.BeginForm("new-connection-string", "settings", new { ViewBag.slug })) {
    <fieldset>        
        <div class="editor-label">
            @Html.Label("Name")
        </div>
        <div class="editor-field">
            @Html.TextBox("Name")
            @Html.ValidationMessage("Name", "*")
        </div>

        <div class="editor-label">
            @Html.Label("ConnectionString", "Connection String")
        </div>
        <div class="editor-field">
            @Html.TextBox("ConnectionString")
            @Html.ValidationMessage("ConnectionString", "*")
        </div>
        <p>
            <input type="submit" value="Add" />
        </p>
    </fieldset>
}