<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/stylesheets/screen.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/stylesheets/print.css")" rel="stylesheet" type="text/css" media="print" />
     <link href="@Url.Content("~/Content/stylesheets/site.css")" rel="stylesheet" type="text/css" />
   @RenderSection("head", required: false)
</head>

<body>
    <div class="page">
        <header>
            <div class="container">
                <div class="column span-24 tmargin-36">
                    <div class="column span-2">
                        <a href="/">
                        <img src="/content/glyphs/satellite.png" />
                        </a>
                    </div>
                    <div id="title" class="column span-16">
                        <h1>Kudu</h1>
                    </div>
                    <div class="column span-4 last">
                        <nav >
                            <ul class="tab-menu">
                                <li>@Html.ActionLink("Applications", "Index", "Application")</li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </header>
        <section id="main">
            <div class="container">
                <div class="column span-24">
                    @RenderBody()
                </div>
            </div>
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
