@using System.Xml
@using System.Xml.Linq

@functions {
    int errors = 0, warnings = 0;
    
    string GetAnnotations(string type)
    {
        switch (type)
        {
            case "error":
                return "label-important";
            case "warning":
                return "label-warning";
            case "response":
                return "label-success";
            default:
                break;
        }

        return "label-info";
    }
}

@helper RenderElement(XElement element)
    {
    var typeAttr = element.Attribute("type");
    if (typeAttr != null)
    {
        var cssCls = GetAnnotations(typeAttr.Value);
        <li class="step @typeAttr.Value">
            <div class="label @cssCls title">
                @if (typeAttr.Value == "lock") { 
                    <i class="icon-white icon-lock"></i>
                }
                else {
                    <span class="more icon-white icon-chevron-down"></span>
                }
                @element.Attribute("title").Value - @element.Attribute("date").Value
                @if (element.Attribute("elapsed").Value != "0")
                { 
                    <text>, took @element.Attribute("elapsed").Value ms</text> 
                }
            </div>
            <div class="content">
        @switch (typeAttr.Value)
        {
            case "request":
                if (element.Attribute("git") != null)
                { 
                <span class="label label-success">git</span>
                }
                <span class="req-method">@element.Attribute("method").Value</span> @element.Attribute("url").Value
                foreach (var a in element.Attributes())
                {
                if (a.Name.LocalName.StartsWith("h_")) { 
                <div><strong>@a.Name.LocalName.Substring(2)</strong> : @a.Value</div>
                }
                }
                break;
            case "response":
                if (element.Attribute("statusCode") != null)
                { 
                <span class="statusCode">@element.Attribute("statusCode").Value</span>
                <span class="statusText">@element.Attribute("statusText").Value</span>
                foreach (var a in element.Attributes())
                {
                if (a.Name.LocalName.StartsWith("h_")) { 
                <div><strong>@a.Name.LocalName.Substring(2)</strong> : @a.Value</div>
                }
                }
                }
                break;
            case "process":
                <pre>@element.Attribute("path").Value @element.Attribute("arguments").Value</pre>
                break;
            case "error":
                errors++;
                if (element.Attribute("text") != null)
                { 
                <pre>@element.Attribute("text").Value</pre>
                }
                break;
            case "warning":
                warnings++;
                if (element.Attribute("text") != null)
                { 
                <pre>@element.Attribute("text").Value</pre>
                }
                break;
            case "processOutput":
                var os = element.Attribute("outStream").Value;
                var es = element.Attribute("errorStream").Value;
                if (!String.IsNullOrEmpty(os))
                { 
                <div class="out-stream">output stream</div>
                <pre>@os</pre>
                }
                if (!String.IsNullOrEmpty(es))
                { 
                <div class="err-stream">error stream</div>
                <pre>@es</pre>
                }
                break;
            case "gitStream":
                <pre>@element.Attribute("output").Value</pre>
                break;
        }
        @RenderElements(element.Elements())
        </div>
        </li>        
    }
    else
    {
        <li class="step">
            <div class="label title">
                @if (element.Elements().Any())
                { 
                <span class="more icon-white icon-chevron-down"></span>
                }
                @element.Attribute("title").Value - @element.Attribute("date").Value, took @element.Attribute("elapsed").Value ms
            </div>
            <div class="content">
            @RenderElements(element.Elements())
            </div>
        </li>        
    }
}

@helper RenderElements(IEnumerable<XElement> elements)
{
        var filtered = elements.Where(e => e.Attribute("date") != null);
        var sorted = filtered.OrderBy(e => DateTime.ParseExact(e.Attribute("date").Value, "MM/dd H:mm:ss", System.Globalization.CultureInfo.CurrentCulture));
        foreach (var e in sorted)
        {
    <ul>
        @RenderElement(e)
    </ul>
        }
}


@if (Model != null)
{
    var result = RenderElements(Model.Root.Elements()).ToString();
    <h3>Analysis</h3>
    <p>
        <span class="all-errors badge badge-error">@errors</span> Errors <span class="all-warnings badge badge-warning">@warnings</span> Warnings
    </p>
    <div class="analysis">
        @Html.Raw(result)
    </div>
}

<script type="text/javascript">
    $(function () {
        $('.title').toggle(function () {
            var $this = $(this);
            var $icon = $this.find('.more');
            $this.parent().children('.content').hide();
            $icon.addClass('icon-chevron-up');
            $icon.removeClass('icon-chevron-down');
        },
        function () {
            var $this = $(this);
            var $icon = $this.find('.more');
            $this.parent().children('.content').show();
            $icon.removeClass('icon-chevron-up');
            $icon.addClass('icon-chevron-down');
        });

        $('.all-warnings').toggle(function () {
            if ($(this).text() == '0') {
                return;
            }

            var $step = $('.step');
            $step.show();
            $step.not('.warning').hide();
            $('.warning').parents('li.step').show();
        },
        function () {
            $('.step').show();
        });

        $('.all-errors').toggle(function () {
            if ($(this).text() == '0') {
                return;
            }
            var $step = $('.step');
            $step.show();
            $step.not('.error').hide();
            $('.error').parents('li.step').show();
        },
        function () {
            $('.step').show();
        });

        $('.toggle').click(function () {
            $('.step').click();
        });
    });
</script>